* {
    margin: 0px;
    background: var(--background);
}

/* Header styling */
h1 {
    font-family: calibri, sans-serif;
    margin-top: 70px;
    background-color: var(--buttonbackground);
    width: 200px;
    padding: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px var(--boxshadow);
    margin-bottom: 35px;
}

center {
    background: var(--background);
}

/* Button styling */
button {
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-right: 5px;
    background-color: var(--buttonbackground);
    color: white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px var(--boxshadow);
}

button:active {
    background-color: lightgray;
}

/* Styling of the canvas-grid */
#canvas {
    display: inline-grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(var(--n), 1fr);
    grid-template-rows: repeat(var(--n), 1fr);
    border: 1px solid lightgray;
    margin-top: 100px;
}

#alertbox {
    font-family: Calibri, sans-serif;
    color: var(--color);
    margin-top: 10px;
}

#label {
    color: var(--color);
    font-family: Calibri, sans-serif;
}

#inputbox {
    width: 100px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: var(--color);
}

#bottom {
    color: var(--color);
    margin-left: 10px;
    font-family: Calibri, sans-serif;
}

#bottom a {
    text-decoration: none;
    color: var(--color);
}

#bottom a:hover {
    text-decoration: underline;
}

/* Is assigned when the user hovers over a div */
.black {
    background-color: var(--pixelcolor);
}

.theme {
    margin-top: 40px;
}

/* Determines several CSS properties */
:root {
    --n: 16;
    --background: #fff;
    --color: black;
    --buttonbackground: lightblue;
    --pixelcolor: black;
    --boxshadow: rgba(171,171,171,0.5);
}