* {
    margin: 0px;
}

/* Styling of the canvas-grid */
#canvas {
    display: inline-grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(var(--n), 1fr);
    grid-template-rows: repeat(var(--n), 1fr);
    border: 1px solid black;
}

/* Is assigned when the user hovers over a div */
.black {
    background-color: black;
}

/* Determines the size of the grid */
:root {
    --n: 16;
}